@use "../common/section-header";

.laca-section-header-block {
	&__surface {
		padding: 1rem 0;
	}

	&__inner {
		margin: 0 auto;
	}

	&__divider {
		width: 100%;
		max-width: 12rem;
		height: 2px;
		margin: 1.4rem auto 0;
		border-radius: 999px;
	}

	&.is-width-narrow &__inner {
		max-width: 40rem;
	}

	&.is-width-normal &__inner {
		max-width: 56rem;
	}

	&.is-width-wide &__inner {
		max-width: 72rem;
	}
}